.venv/
venv/
Week2-SQL
week3-dlt-pipelines
week4-github_pipeline_deployment
week4-OpenAQ-dlt_pipeline
sql-optimization-test
logs

target/
snapshots/
.vscode
dbt_internal_packages/
logs/
seeds/
dbt_project.yml
jaffle_shop/