dlt[postgres]
dlt[sql_database]
dlt[snowflake]>=0.5.1
stripe<16,>=5.0.0

pandas
python-dotenv
requests
dagster_slack
beautifulsoup4
playwright
tenacity
seleniumbase
matplotlib
numpy
psycopg2-binary 
python-dotenv
duckdb
